<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>UFTL-Blog</title>

    <!--Bootstrap-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/all.css">
        <link rel="stylesheet" href="css/style-blog.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="./css/navbar-rest.css">
        <link rel="stylesheet" href="css/owl.carousel.min.css">
        <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <!--Fonts cdn-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap" rel="stylesheet">



</head>

<body>
    <!-- =================navbar start=============== -->
    <div class="container-fluid primary-body">
        <div class="bg_orange">
            <div class="container">
                <div class="row">

                    <!-- ==============Desktop version navbar section start============== -->
                <nav class="navbar-expand-lg d-flex flex-row justify-content-between align-items-center">
                    <div class="brand-logo"><img src="./img/logo-2.png" alt=""></div>
                    <div class="links d-flex flex-row align-items-center">
                        <a href="index.html" class="to-close">Home</a>
                        <a href="#" class="to-close">Service</a>
                        <a href="blog.html" class="to-close">Blog</a>
                        <a href="about.html" class="to-close">About Us</a>
                        <a href="#" class="to-close">Contact</a>
                    </div>
                    <div class="search">
                        <div class="icons d-flex flex-row">
                            <div class="search-box d-flex flex-row align-items-center justify-content-between"
                                id="search">
                                <input class="search-txt" type="text" name="" placeholder="Search">
                                <a class="search-btn" href="#">
                                    <i class="fas fa-search"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="buttons">
                        <a href="#" class="to-close">
                            <button class="custom-btn">Login</button>
                        </a>
                        <a href="#" class="to-close">
                            <button class="custom-btn">Signup</button>
                        </a>
                    </div>
                    <!-- ==============Desktop version navbar section end============== -->

                    <!-- --------------------------------------------------------------------------------------- -->

                    <!-- =========== Phone version Slide nav section start ================ -->
                    <div id="slidenav" class="slidenav">
                        <a href="javascript:void(0)" class="closeicon" id="closeicon" onclick="closenav()"><i
                                class="fas fa-times"></i></a>
                        <div class="search-box-phone d-flex flex-row" id="search">
                            <input class="search-txt-phone to-open" type="text" name="" placeholder="Search">
                            <a class="search-btn-phone to-open" href="#">
                                <i class="fas fa-search to-open"></i>
                            </a>
                        </div>

                        <div class="navbar-links">
                            <a class="nav_items to-open" href="index.html"><i class="fas fa-home"></i>&nbsp;&nbsp;&nbsp;Home</a>
                            <a class="nav_items to-open" href="#"><i
                                    class="fas fa-cogs"></i>&nbsp;&nbsp;&nbsp;Services</a>
                            <a class="nav_items to-open" href="blog.html"><i
                                    class="fas fa-pen-nib"></i>&nbsp;&nbsp;&nbsp;Blogs</a>
                            <a class="nav_items to-open" href="about.html"><i class="fas fa-tint"></i>&nbsp;&nbsp;&nbsp;About
                                Us</a>
                            <a class="nav_items to-open" href="#"><i class="fas fa-phone-alt"></i>&nbsp;&nbsp;&nbsp;Call
                                now</a>
                        </div>
                        <div class="buttons-phone mt-2">
                            <a href="#">
                                <button><i class="fas fa-sign-in-alt"></i>&nbsp;&nbsp;&nbsp;Login
                                </button>
                            </a><br>
                            <a href="#">
                                <button><i class="far fa-user"></i>&nbsp;&nbsp;&nbsp;Signup</button>
                            </a>
                        </div>
                    </div>
                    <span class="menuicon to-open" id="menuicon" onclick="opennav()"><i class="fas fa-bars"></i></span>

                    <!-- ===========Phone version Slide nav section end ================ -->
                </nav>
                </div>

                <div class="row">
                    <div class="col-sm-12 text-center mt-3">
                        <img class="heading-images img-fluid" src="img/BLOGS.png" alt="">
                    </div>
                </div>
        <!-- =============================navbar end===============-->


                   <!-- =================Mid Banner start================= -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="container main-body">
                            <div class="row">
                                <div class="col-sm-5 text-section">
                                    <h1 class="card-heading" id="h">How to save fuel by ordering it online!</h1>
                                    <p class="card-text">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 
                                        1500s, when an unknown printer took a galley of type and....
                                    </p>
                                    <a href="#">
                                        <button class="card-button">Read more</button>
                                    </a>
                                </div>

                                <div class="col-sm-5 img-section">
                                    <img src="img/cuate-2.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- =================Mid Banner end================= -->


<!-- ============================Blog Content Start=================== -->


        <div class="blogsec">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h1 class="section-heading">Science & Technology</h1>
                    </div>
                </div>
                <div class="row slider-section">
                    <div class="col-md-12">
                        <div class="owl-carousel">
                            <div class="slider-body2">
                                <img class="img-img" src="img/card-1.png" alt="">
                                <div class="img-text"><span>How Internet of Things is changing the world!</span></div>
                            </div>
                            
                            <div class="slider-body2">
                                <div class="img-text"><span>Can Virtual reality save fuel usage!</span></div>
                                <img src="img/card-2.png" alt="">
                            </div>
                            
                            <div class="slider-body2">
                                <div class="img-text"><span>Why online fuel pump safer than</span></div>
                                <img src="img/card-3.png" alt="">
                            </div>
                            
                            <div class="slider-body2">
                                <div class="img-text"><span>How Internet of Things is changing the world!</span></div>
                                <img src="img/card-4.png" alt="">
                            </div>
                            
                            <div class="slider-body2">
                                <div class="img-text"><span>How Internet of Things is changing the world!</span></div>
                                <img src="img/card-5.png" alt="">
                            </div>
                            
                            <div class="slider-body2">
                                <div class="img-text"><span>How Internet of Things is changing the world!</span></div>
                                <img src="img/card-6.png" alt="">
                            </div>
                            
                            <div class="slider-body2">
                                <div class="img-text"><span>How Internet of Things is changing the world!</span></div>
                                <img src="img/card-7.png" alt="">
                            </div>
                            
                            <div class="slider-body2">
                                <div class="img-text"><span>How Internet of Things is changing the world!</span></div>
                                <img src="img/card-8.png" alt="">
                            </div>
                        </div>             
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h1 class="section-heading">Environment</h1>
                    </div>
                </div>
                <div class="row slider-section">
                    <div class="col-md-12">
                        <div class="owl-carousel">
                            <div class="slider-body2">
                                <img class="img-img" src="img/card-1.png" alt="">
                                <div class="img-text"><span>How Internet of Things is changing the world!</span></div>
                            </div>
                            
                            <div class="slider-body2">
                                <div class="img-text"><span>Can Virtual reality save fuel usage!</span></div>
                                <img src="img/card-2.png" alt="">
                            </div>
                            
                            <div class="slider-body2">
                                <div class="img-text"><span>Why online fuel pump safer than</span></div>
                                <img src="img/card-3.png" alt="">
                            </div>
                            
                            <div class="slider-body2">
                                <div class="img-text"><span>How Internet of Things is changing the world!</span></div>
                                <img src="img/card-4.png" alt="">
                            </div>
                            
                            <div class="slider-body2">
                                <div class="img-text"><span>How Internet of Things is changing the world!</span></div>
                                <img src="img/card-5.png" alt="">
                            </div>
                            
                            <div class="slider-body2">
                                <div class="img-text"><span>How Internet of Things is changing the world!</span></div>
                                <img src="img/card-6.png" alt="">
                            </div>
                            
                            <div class="slider-body2">
                                <div class="img-text"><span>How Internet of Things is changing the world!</span></div>
                                <img src="img/card-7.png" alt="">
                            </div>
                            
                            <div class="slider-body2">
                                <div class="img-text"><span>How Internet of Things is changing the world!</span></div>
                                <img src="img/card-8.png" alt="">
                            </div>
                        </div>             
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h1 class="section-heading">Business & Commerce</h1>
                    </div>
                </div>
                <div class="row slider-section">
                    <div class="col-md-12">
                        <div class="owl-carousel">
                            <div class="slider-body2">
                                <img class="img-img" src="img/card-1.png" alt="">
                                <div class="img-text"><span>How Internet of Things is changing the world!</span></div>
                            </div>
                            
                            <div class="slider-body2">
                                <div class="img-text"><span>Can Virtual reality save fuel usage!</span></div>
                                <img src="img/card-2.png" alt="">
                            </div>
                            
                            <div class="slider-body2">
                                <div class="img-text"><span>Why online fuel pump safer than</span></div>
                                <img src="img/card-3.png" alt="">
                            </div>
                            
                            <div class="slider-body2">
                                <div class="img-text"><span>How Internet of Things is changing the world!</span></div>
                                <img src="img/card-4.png" alt="">
                            </div>
                            
                            <div class="slider-body2">
                                <div class="img-text"><span>How Internet of Things is changing the world!</span></div>
                                <img src="img/card-5.png" alt="">
                            </div>
                            
                            <div class="slider-body2">
                                <div class="img-text"><span>How Internet of Things is changing the world!</span></div>
                                <img src="img/card-6.png" alt="">
                            </div>
                            
                            <div class="slider-body2">
                                <div class="img-text"><span>How Internet of Things is changing the world!</span></div>
                                <img src="img/card-7.png" alt="">
                            </div>
                            
                            <div class="slider-body2">
                                <div class="img-text"><span>How Internet of Things is changing the world!</span></div>
                                <img src="img/card-8.png" alt="">
                            </div>
                        </div>             
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h1 class="section-heading">About Urgent Fuel</h1>
                    </div>
                </div>
                <div class="row slider-section">
                    <div class="col-md-12">
                        <div class="owl-carousel">
                            <div class="slider-body2">
                                <img class="img-img" src="img/card-1.png" alt="">
                                <div class="img-text"><span>How Internet of Things is changing the world!</span></div>
                            </div>
                            
                            <div class="slider-body2">
                                <div class="img-text"><span>Can Virtual reality save fuel usage!</span></div>
                                <img src="img/card-2.png" alt="">
                            </div>
                            
                            <div class="slider-body2">
                                <div class="img-text"><span>Why online fuel pump safer than</span></div>
                                <img src="img/card-3.png" alt="">
                            </div>
                            
                            <div class="slider-body2">
                                <div class="img-text"><span>How Internet of Things is changing the world!</span></div>
                                <img src="img/card-4.png" alt="">
                            </div>
                            
                            <div class="slider-body2">
                                <div class="img-text"><span>How Internet of Things is changing the world!</span></div>
                                <img src="img/card-5.png" alt="">
                            </div>
                            
                            <div class="slider-body2">
                                <div class="img-text"><span>How Internet of Things is changing the world!</span></div>
                                <img src="img/card-6.png" alt="">
                            </div>
                            
                            <div class="slider-body2">
                                <div class="img-text"><span>How Internet of Things is changing the world!</span></div>
                                <img src="img/card-7.png" alt="">
                            </div>
                            
                            <div class="slider-body2">
                                <div class="img-text"><span>How Internet of Things is changing the world!</span></div>
                                <img src="img/card-8.png" alt="">
                            </div>
                        </div>             
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h1 class="section-heading">Get weekly blog!</h1>
                    </div>

                    <div class="row slider-section">
                        <div class="col-sm 12">
                            <div class="input-fields ml-auto">
                                <form class="form-group">
                                    <input class= "form-control input-field" type="text" name="" id="" placeholder="Your name">
                                    <input class= "form-control input-field" type="text" name="" id="" placeholder="Your email">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
<!-- ============================Blog Content end=================== -->










        <!-- ================== Footer start================== -->



        <!-- ================== Footer end ================== -->



    </div>



        <!-- =================Fotter Start============== -->

    <!-- Footer -->
    <footer class="ft">
        <div class="container py-5">
            <div class="row py-4">
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0"><img src="img/logo.png" alt="" width="180" class="mb-3">
                    <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                        eiusmod tempor incididunt.</p>

                </div>

                <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                    <h6 class=" font-weight-bold mb-4">Companies</h6>
                    <ul class="list-unstyled mb-0">
                        <li class="mb-2"><a href="#" class="text-muted">Home</a></li>
                        <li class="mb-2"><a href="#" class="text-muted">Services</a></li>
                        <li class="mb-2"><a href="#" class="text-muted">Blogs</a></li>
                        <li class="mb-2"><a href="#" class="text-muted">About Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                    <h6 class=" font-weight-bold mb-4">Pages</h6>
                    <ul class="list-unstyled mb-0">
                        <li class="mb-2"><a href="#" class="text-muted">Carrer</a></li>
                        <li class="mb-2"><a href="#" class="text-muted">Customers</a></li>
                        <li class="mb-2"><a href="#" class="text-muted">Be a partner</a></li>
                        <li class="mb-2"><a href="#" class="text-muted">Privacy Policy</a></li>
                        <li class="mb-2"><a href="#" class="text-muted">Terms & Conditions</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <div class="con">
                        <div class="d-flex-flex-column mb-0 contact-section">
                            <div class="d-flex flex-row align-items-end">
                                <img src="./img2/phone.png">
                                <p>+8801736783227</p>
                            </div>

                            <div class="d-flex flex-row align-items-end">
                                <img src="./img2/mail.png">
                                <p>urgent.fuel@gmail.com</p>
                            </div>

                            <div class="d-flex flex-row align-items-start">
                                <img src="./img2/location.png">
                                <p>Ventura Iconia, Level 3, House 37,
                                    Road 11, Block H, Banani, Dhaka-1213</p>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- <div class="container">
                   <div class="row">
                    <div class="col-md-12">
                        div
                    </div>
                   </div>
            </div> -->

                <div class="hrline">

                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="mt-3">All rights reserved to URGENT FUEL TECHNOLOGIES (BD) LIMITED</p>
                        </div>

                        <div class="col-md-6 mt-3">
                            <div class="social_icon">
                                <ul class=>
                                    <li><a href=""><img src="img2/facebook.png" alt=""></a></li>
                                    <li><a href=""><img src="img2/linkedin.png" alt=""></a></li>
                                    <li><a href=""><img src="img2/instagram.png" alt=""></a></li>
                                    <li><a href=""><img src="img2/twitter.png" alt=""><a><li>
                                    <li><a href=""><img src="img2/cb.png" alt=""><a><li> 
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        </div>


    </footer>
    <!-- End -->
    <!-- =================Fotter End============== -->


    <script src="js/all.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/script.js"></script>
    <script src="js/navbar.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/main.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
</body>

</html>