.fuel-order {
    background: linear-gradient(90deg, #F8962C 0%, #EF3C26 100%);
    text-align: center;
    color: white;
    border: 2px solid #F57329;
    border-radius: 15px;
    word-break: normal;
    padding: 1rem 3rem 1rem 3rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 16px;
}

.fuel-order2 {
    background: white;
    text-align: center;
    color: #EF3C26;
    border: 2px solid #F57329;
    border-radius: 15px;
    padding: 1rem 3rem 1rem 3rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 16px;
    
}

@media only screen and (max-width: 1000px) {

    .fuel-order {
        padding: 1rem 2rem 1rem 2rem;
    }
    .fuel-order2
    {
        padding: 1rem 2.5rem 1rem 2.5rem;
    }
}


@media screen (max-width: 1000px) {
    
}