{% extends 'profile_base.html' %}
{% load static %}
{% block title_block %}contact_profile{% endblock %}
{% block profile_block %}


    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="p-4 pt-5">

                <a href="#" class="nav__logo">
                    <div class="logoside">
                        <img class="logoimage" src="{% static 'assets/img/logo.svg' %}" alt="My Happy SVG"/>
                        <div class="tex">
                            <p class="text1">URGENT</p>
                            <p class="text2">FUEL</p>
                        </div>
                    </div>
                    <!-- <i class='bx bx-layer nav__logo-icon'></i>
                        <span class="nav__logo-name">Bedimcode</span> -->
                </a>

                <div class="ct">
                    {% for x in ct_profile %}
                    <a href="#" class="img logo rounded-circle mb-2"
                       style="background-image: url({{ x.contact_photo.url }});">
                    </a>
                    {% endfor %}
                    <h3 class="text-center mb-5 username">{{ request.user.username }}</h3>

                </div>


                <ul class="list-unstyled components mb-5">

                    <li>

                        <a href="#">
                            <ion-icon class="setup" name="person-outline"></ion-icon>
                            Setup Profile
                        </a>
                    </li>


                </ul>

                <div class="footer">
                    <p>

                    </p>
                </div>

            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-4">

            <nav class="">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>


                    <div class="float-right">
                        <div class=" menu ">
                            <div class="header__img ">
                                <img class="navimage" src="{% static 'assets/img/saul.png' %} " alt=" ">

                            </div>

                            <ion-icon class="arrowleft" name="arrow-back-outline"></ion-icon>
                            <a href="{% url 'Uftl_App:index' %}"><p class="back">Back to Home</p></a>
                        </div>
                    </div>

                </div>
            </nav>

            <div class="container">

                <div class="row ">


                    <div class="form-section d-flex justify-content-center align-items-center my-5">
                        <form method="POST" class="form-group" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div id="div2">
                                <div class="row justify-content-between ipad">

                                    <div class="col-sm-6 col-md-6 ">
                                        <div class="row">
                                            <div class="col">
                                                <p class="headingtext2">Contact Info

                                                </p>
                                            </div>

                                        </div>

                                        <div class="col-sm-6 col-md-3 fuel">
                                            <input type="text" required name="full_name" class="fuel-input"
                                                   placeholder="Full Name*">
                                            <p class="help-block"></p>
                                        </div>

                                        <div class="col-sm-6 col-md-3 fuel">
                                            <input type="text" name="company_name" class="fuel-input"
                                                   placeholder="Company Name">
                                            <p class="help-block"></p>
                                        </div>

                                        <div class="col-sm-6 col-md-3 fuel">
                                            <input type="number" required name="phone_number" class="fuel-input"
                                                   placeholder="Phone Number*">
                                            <p class="help-block"></p>
                                        </div>

                                        <div class="col-sm-6 col-md-3 fuel">
                                            <input type="email" name="email" class="fuel-input"
                                                   placeholder="Email">
                                            <p class="help-block"></p>
                                        </div>

                                        <div class="col-sm-6 col-md-3 fuel">
                                            <select required name="area" class="area">
                                                <option selected disabled>Area*</option>
                                                {% for x in ft %}
                                                    <option value="{{ x.order_area }}">{{ x.order_area }}</option>
                                                {% endfor %}
                                            </select>
                                            <p class="help-block"></p>
                                        </div>
                                        <!-- <button class="previous" type="button" onclick="Show2()"
                                            id="sendMessageButton">Previous</button> -->
                                    </div>

                                    <div class="col-sm-7 col-md-3 contactimage">

                                        <div class="col-sm-6 col-md-3 rightsection">
                                            <div class="col-sm-6 col-md-3 fuel">
                                                <div class="file-upload">


                                                    <div class="image-upload-wrap">

                                                        <input name="contact_photo" class="file-upload-input"
                                                               type='file'
                                                               onchange="readURL(this);" accept="image/*"/>
                                                        <div class="drag-text">
                                                            <p class="drag2">Photo/Logo (Optional)</p>
                                                            <svg class="icon-image2" xmlns="http://www.w3.org/2000/svg"
                                                                 width="50" height="50" viewBox="0 0 24 24"
                                                                 style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;">
                                                                <path
                                                                        d="M19 3H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2zM5 19V5h14l.002 14H5z">
                                                                </path>
                                                                <path d="m10 14-1-1-3 4h12l-5-7z"></path>
                                                            </svg>
                                                            <h3 class="drapanddrop">Drag and drop a photo or
                                                                <button
                                                                        class="file-upload-btn" type="button"
                                                                        onclick="$('.file-upload-input').trigger( 'click' )">
                                                                    browse
                                                                </button>
                                                                a
                                                                file or upload!
                                                            </h3>
                                                        </div>
                                                    </div>
                                                    <div class="file-upload-content">
                                                        <img class="file-upload-image" src="#" alt="your image"/>
                                                        <div class="image-title-wrap">
                                                            <button type="button" onclick="removeUpload()"
                                                                    class="remove-image">Remove <span
                                                                    class="image-title">Uploaded Image</span></button>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>


                                            <div class="col-sm-6 col-md-3 fuel">
                                                <select name="city" class="city">
                                                    <option selected disabled value="select">City*</option>
                                                    {% for x in ft %}
                                                        <option value="{{ x.city }}">{{ x.city }}</option>

                                                    {% endfor %}

                                                </select>
                                                <p class="help-block"></p>
                                            </div>

                                            <div class="col-sm-6 col-md-3 fuel">
                                                <input type="text" name="billing_add" class="billingaddress"
                                                       placeholder="Billing Address*">
                                                <p class="help-block"></p>
                                            </div>

                                            <button class="fuel-ordery" type="submit"
                                                    id="sendMessageButton">Save
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>


                </div>

            </div>
        </div>
    </div>



{% endblock %}