{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static '/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
          integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
          integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">
    <title>Urgent Fuel</title>
</head>

<body>
<!-- header sec -->
<header>
    <section class="header_inner">
        <nav>
            <div class="nav-inner">
                <a href="#" class="brand flex-center">
                    <div class="img-cont">
                        <img src="{% static '/assets/logoMain.svg' %}" alt="Logo">
                    </div>
                    <!-- <h3>
                      Urgent <br />
                      Fuel
                    </h3> -->
                </a>

                <ul class="nav-lists flex-center">
                    <li>
                        <a class="nav_item home" href="#home">Home</a>
                    </li>
                    <li>
                        <a class="nav_item whyus" href="#whyus">Why Us?</a>
                    </li>
                    <li>
                        <a class="nav_item customer" href="#customer">Who We Serve</a>
                    </li>
                    <li>
                        <a class="nav_item products" href="#products">Products</a>
                    </li>
                    <li>
                        <a class="nav_item blog" href="#blog">Blog</a>
                    </li>
                </ul>

                <div class="login-btns flex-center">
                    <button class="call btn btn-outline">
                        <i class="fa-solid fa-phone"></i>
                    </button>
                    <div class="login">
                        <button class="btn">
                            <a href="{% url 'Sign_in' %}">Login</a>
                        </button>
                    </div>


                    <div class="hamburger">
                        <i id="hamburger" class="fa-solid fa-bars fa-2x"></i>
                    </div>
                </div>


            </div>
        </nav>
    </section>
</header>

<!-- main area -->
<main>
    <!-- hero section -->
    <section id="home" class="container section">
        <div class="hero-content">
            <div class="left-side flex-vertical">
                <div class="headings">
                    <h2>Order Fuel in</h2>
                    <br/>
                    <h1>30 Seconds</h1>
                </div>

                <h3>*Without Register</h3>

                <p>Want to order fuel without registration? Simply click the <b>Order Fuel</b> button below, fill out a
                    simple
                    form in less than 30 seconds, and click submit!</p>

                <div class="order-btns flex-center">
                    <button class="btn with-small-text">
                        <div>
                            <span class="non-register"><a href="{% url 'fuel_order' %}">Order Fuel</a></span>
                            <br/>
                            <small>*No Register</small>
                        </div>
                    </button>
                    <a href="{% url 'Signup' %}">
                        <button class="btn btn-outline">
                            Register
                        </button>
                    </a>
                </div>

            </div>

            <div class="right-side">
                <div class="img-cont">
                    <img src="{% static '/assets/heroImg.png' %}" alt="Hero">
                </div>
            </div>
        </div>
    </section>


    <!-- how to order sec -->
    <section id="order" class="container">
        <div class="order-content">
            <div class="right-side">
                <div class="img-cont">
                    <img src="{% static '/assets/order.png' %}" alt="Order">
                </div>
            </div>

            <div class="left-side flex-vertical">
                <div class="headings">
                    <h2>How to Order Fuel</h2>
                    <br/>
                    <h3>(Using Our Web App)</h3>
                </div>

                <p>We've built a powerful webapp for ordering fuel for your assets. The webapp is simple and powerful.
                    Follow
                    the steps below to order fuel quickly and easily!</p>

                <div class="order-steps">
                    <div class='steps' id='steps'>
                        <div class='step'>
                            <div class='number'>1</div>
                            <div class='info'>
                                <p class='title'>Register</p>
                                <p class='text'>For setting up your account we need some of your info. You have to add
                                    your asset for
                                    the first time.</p>
                            </div>
                        </div>
                        <div class='step'>
                            <div class='number'>2</div>
                            <div class='info'>
                                <p class='title'>Add an Asset</p>
                                <p class='text'>Once you add your asset and register for the account you can simply
                                    select an asset
                                    from the asset list!</p>
                            </div>
                        </div>
                        <div class='step'>
                            <div class='number'>3</div>
                            <div class='info'>
                                <p class='title'>Place an Order</p>
                                <p class='text'>After completing the registration process you can simply order fuel by
                                    selecting an
                                    asset. </p>
                            </div>
                        </div>
                        <div class='step'>
                            <div class='number'>4</div>
                            <div class='info'>
                                <p class='title'>Get Fuel</p>
                                <p class='text'>Right after receiving your order, we will deliver the fuel at your
                                    selected time slot.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="order-btns flex-center">
                    <button class="btn with-small-text">
                        <div>
                            <span>Order Fuel</span>
                            <br/>
                            <small>*No Register</small>
                        </div>
                    </button>
                    <button class="btn btn-outline">
                        Register
                    </button>
                </div>

            </div>


        </div>
    </section>


    <!-- web-feature -->


    <section id="web-feature">
        <div class="top-sec ">

            <div class="container">
                <h2>Features of Our <br/> Webapp</h2>
                <div class="all-feature">
                    <div class="feature flex-center">
                        <div class="icon">
                            <i class="fa-solid fa-check"></i>
                        </div>
                        <span>Get simple & strong dashboard!</span>
                    </div>

                    <div class="feature flex-center">
                        <div class="icon">
                            <i class="fa-solid fa-check"></i>
                        </div>
                        <span>Order in less than 30 Second!</span>
                    </div>

                    <div class="feature flex-center">
                        <div class="icon">
                            <i class="fa-solid fa-check"></i>
                        </div>
                        <span>Track your fuel usage!</span>
                    </div>

                    <div class="feature flex-center">
                        <div class="icon">
                            <i class="fa-solid fa-check"></i>
                        </div>
                        <span>Add asset once!</span>
                    </div>

                    <div class="feature flex-center">
                        <div class="icon">
                            <i class="fa-solid fa-check"></i>
                        </div>
                        <span>Track your order!</span>
                    </div>

                    <div class="feature flex-center">
                        <div class="icon">
                            <i class="fa-solid fa-check"></i>
                        </div>
                        <span>Get detailed reporting!</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="bottom-sec container">
            <img class="img-res" src="{% static '/assets/Dashboard.png' %}" alt="Dashboard">
        </div>

    </section>


    <!-- why us section -->
    <section id="whyus" class="container section">
        <div class="top">
            <h2>Why Urgent Fuel?</h2>
            <!-- <p class="desc">We always try to provide the best services! You will get the following services once you register for an account. We are always trying to make our services better for you!</p> -->
        </div>

        <div class="services">
            <div class="service-item">
                <div class="img-sec flex-center">
                    <div class="img-cont">
                        <img class="img-res" src="{% static '/assets/service-1.svg' %}" alt="">
                    </div>
                </div>

                <div class="text-sec">
                    <h3>Affordable Transportation Cost</h3>
                    <p>We take a very small amount of money as delivery charge per liter. </p>
                </div>
            </div>

            <div class="service-item">
                <div class="img-sec flex-center">
                    <div class="img-cont">
                        <img class="img-res" src="{% static './assets/service-2.svg' %}" alt="">
                    </div>
                </div>

                <div class="text-sec">
                    <h3>Set Your Own Schedule</h3>
                    <p>You can set a specific time slot when you want to get the fuel for your asset.</p>
                </div>
            </div>

            <div class="service-item">
                <div class="img-sec flex-center">
                    <div class="img-cont">
                        <img class="img-res" src="{% static '/assets/service-3.svg' %}" alt="">
                    </div>
                </div>

                <div class="text-sec">
                    <h3>100% Safe & Compliant Delivery</h3>
                    <p>We use BRTA certified vehicle and trained fuel bowser to provide a safe delivery service!</p>
                </div>
            </div>

            <div class="service-item">
                <div class="img-sec flex-center">
                    <div class="img-cont">
                        <img class="img-res" src="{% static '/assets/service-4.svg' %}" alt="">
                    </div>
                </div>

                <div class="text-sec">
                    <h3>Flexible Payment Option</h3>
                    <p>We added maximum payment method to give you the full liberty to pay via any of the payment
                        methods!
                    </p>
                </div>
            </div>

            <div class="service-item">
                <div class="img-sec flex-center">
                    <div class="img-cont">
                        <img class="img-res" src="{% static './assets/service-5.svg' %}" alt="">
                    </div>
                </div>

                <div class="text-sec">
                    <h3>Increased Efficiency</h3>
                    <p>Our delivery service can help you to save your time and can manage your asset’s fuel issue
                        efficiently!
                    </p>
                </div>
            </div>

            <div class="service-item">
                <div class="img-sec flex-center">
                    <div class="img-cont">
                        <img class="img-res" src="{% static '/assets/service-6.svg' %}" alt="">
                    </div>
                </div>

                <div class="text-sec">
                    <h3>Eliminate Fuel Theft</h3>
                    <p>We deliver fuel via our trusted fuel bowser to solve the fuel theft issue. </p>
                </div>
            </div>

            <div class="service-item">
                <div class="img-sec flex-center">
                    <div class="img-cont">
                        <img class="img-res" src="{% static '/assets/service-7.svg' %}" alt="">
                    </div>
                </div>

                <div class="text-sec">
                    <h3>Central Billing & Reporting</h3>
                    <p>Our webapp stores your usage data to show you the billing and reporting. </p>
                </div>
            </div>

            <div class="service-item">
                <div class="img-sec flex-center">
                    <div class="img-cont">
                        <img class="img-res" src="{% static '/assets/service-8.svg' %}" alt="">
                    </div>
                </div>

                <div class="text-sec">
                    <h3>Simple & Strong Dashboard</h3>
                    <p>With our webapp, we provide a strong dashboard where you can manage your account easily!</p>
                </div>
            </div>

        </div>
    </section>


    <!-- who we serve or customer section -->
    <section id="customer" class="container section">
        <div class="top">
            <h2> Who We Serve?</h2>
            <!-- <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, egestas mauris sagittis, nullam mi. Pulvinar lectus imperdiet a, commodo posuere faucibus tincidunt sollicitudin morbi. Massa quis egestas tempor elit id augu</p> -->
        </div>

        <div class="services">

            <div class="service-item">
                <div class="img-cont">
                    <img class="img-res" src="{% static '/assets/serve-1.svg' %}" alt="">
                </div>

                <h3>Institutional <br/> Vehicles</h3>
                <p>Institutional vehicles such as company buses, company trucks, stuff buses, school buses & many more!
                </p>
            </div>

            <div class="service-item">
                <div class="img-cont">
                    <img class="img-res" src="{% static '/assets/serve-2.svg' %}" alt="">
                </div>

                <h3>Construction <br/> Projects</h3>
                <p>Any machineries & vehicles associated with consctructional services.

                </p>
            </div>


            <div class="service-item">
                <div class="img-cont">
                    <img class="img-res" src="{% static '/assets/serve-3.svg' %}" alt="">
                </div>

                <h3>Real Estate
                    <small style="font-Size: 12px">(RESIDENTIAL+COMMERCIAL)</small>
                </h3>
                <p>Houses & Buildings's in-house machines, generators or vehicles.

                </p>
            </div>


            <div class="service-item">
                <div class="img-cont">
                    <img class="img-res" src="{% static '/assets/serve-4.svg' %}" alt="">
                </div>

                <h3>Shopping <br/> Mall</h3>
                <p>Shopping mall's powerful generators' fuel & other fuel demands.

                </p>
            </div>


            <div class="service-item">
                <div class="img-cont">
                    <img class="img-res" src="{% static '/assets/serve-5.svg' %}" alt="">
                </div>

                <h3>Factory & <br/> Production</h3>
                <p>Factories’ & mills’ heavy duty machines & powerful generators.

                </p>
            </div>


            <div class="service-item">
                <div class="img-cont">
                    <img class="img-res" src="{% static '/assets/serve-6.svg' %}" alt="">
                </div>

                <h3>Hospital & <br/> Clinic</h3>
                <p>Hospital's consistent power supply generators & other vehicles.
                </p>
            </div>

        </div>
    </section>


    <!-- product section -->
    <section id="products" class="container section">
        <div class="top">
            <h2>Our Products</h2>
            <!-- <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, egestas mauris sagittis, nullam mi. Pulvinar lectus imperdiet a, commodo posuere faucibus tincidunt sollicitudin morbi. Massa quis egestas tempor elit id augu</p> -->
        </div>

        <div class="services">


            <div class="service-item">
                <div class="img-cont">
                    <img class="img-res" src="{% static '/assets/p-1.svg' %}" alt="">
                </div>

                <div class="text-sec">
                    <h3>Diesel</h3>
                    <p><span class="product-availability green"></span><span>Available</span></p>
                </div>

            </div>


            <div class="service-item">
                <div class="img-cont">
                    <img class="img-res" src="{% static '/assets/p-2.svg' %}" alt="">
                </div>

                <div class="text-sec">
                    <h3>Octane</h3>
                    <p><span class="product-availability"></span>
                        <span>Coming Soon</span>
                    </p>
                </div>

            </div>

            <div class="service-item">
                <div class="img-cont">
                    <img class="img-res" src="{% static '/assets/p-3.svg' %}" alt="">
                </div>

                <div class="text-sec">
                    <h3>IoT Device</h3>
                    <p><span class="product-availability"></span><span>Coming Soon</span></p>
                </div>

            </div>

            <div class="service-item">
                <div class="img-cont">
                    <img class="img-res" src="{% static './assets/p-4.svg' %}" alt="">
                </div>

                <div class="text-sec">
                    <h3>Smart Tank</h3>
                    <p><span class="product-availability"></span><span>Coming Soon</span></p>
                </div>

            </div>

        </div>
    </section>


    <!-- explore section -->

    <section id="explore" class="container">

        <div class="explore-cont">

            <div class="services">
                <div class="top">
                    <h3>Explore</h3>
                    <h2>Smart Tank</h2>
                    <!-- <p class="desc">For your construction projects!</p> -->
                </div>


                <div class="service-item">
                    <div class="img-sec flex-center">
                        <div class="img-cont">
                            <img class="img-res" src="{% static '/assets/service-5.svg' %}" alt="">
                        </div>
                    </div>

                    <div class="text-sec">
                        <h3>IoT Enabled Smart Tank</h3>
                        <p>Whenever the fuel level is low, it notifies the owner & automatically generates a refueling
                            order.
                        </p>
                    </div>
                </div>

                <div class="service-item">
                    <div class="img-sec flex-center">
                        <div class="img-cont">
                            <img class="img-res" src="{% static '/assets/service-6.svg' %}" alt="">
                        </div>
                    </div>

                    <div class="text-sec">
                        <h3>Strong Cloud Server</h3>
                        <p>24/7 online server which records & monitors your assets' fuel usage and functions
                            accordingly.
                        </p>
                    </div>
                </div>

                <div class="service-item">
                    <div class="img-sec flex-center">
                        <div class="img-cont">
                            <img class="img-res" src="{% static './assets/service-7.svg' %}" alt="">
                        </div>
                    </div>

                    <div class="text-sec">
                        <h3>Simple & Strong Dashboard</h3>
                        <p>All in one interface for you to manage your profile, orders, assets & many more!
                        </p>
                    </div>
                </div>

                <div class="service-item">
                    <div class="img-sec flex-center">
                        <div class="img-cont">
                            <img class="img-res" src="{% static '/assets/service-8.svg' %}" alt="">
                        </div>
                    </div>

                    <div class="text-sec">
                        <h3>Deliver Via Fuel Bowser</h3>
                        <p>A safe & compact delivery system which delivers your fuel in 100% capacity with absolute
                            purity.
                        </p>
                    </div>
                </div>

            </div>

            <div class="explore-img">
                <div class="img-cont">
                    <img class="img-res" src="{% static '/assets/exploreImg.png' %}" alt="Hero">
                </div>
            </div>
        </div>


    </section>


    <!-- faq section -->
    <section id="faq" class="container section">
        <div class="top">
            <h2>Frequetly Asked
                <br/> Questions
            </h2>
        </div>

        <div class="faq-cont">

            <div class="accordion-container">
                <button class="accordion">What is Urgent Fuel?</button>
                <div class="accordion-content">
                    <p>
                        Urgent Fuel is the first IoT-enabled fuel delivery service in Bangladesh. We provide fuel in a
                        safe and
                        efficient
                        way with assuring quality and quantity. You can order through our website and get fuel according
                        to your
                        chosen location and schedule.
                    </p>
                </div>

                <button class="accordion">What area is served by us?</button>
                <div class="accordion-content">
                    <p>
                        Currently, we are serving in Dhaka.
                    </p>
                </div>

                <button class="accordion">What are Urgent Fuel Operation hours?</button>
                <div class="accordion-content">
                    <p>
                        We delivered from 7 am to 8 pm.
                    </p>
                </div>

                <button class="accordion">Where does Urgent Fuel get its fuel from?</button>
                <div class="accordion-content">
                    <p>
                        Urgent Fuel sources the fuel from an authorized fuel pump which is a selected dealer of oil
                        companies near
                        your
                        location.
                    </p>
                </div>

                <button class="accordion">How do I pay for Urgent Fuel?</button>
                <div class="accordion-content">
                    <p>
                        You can pay through Cheque,bKash, and cash on delivery.
                    </p>
                </div>

                <button class="accordion">How do I get Urgent Fuel services?</button>
                <div class="accordion-content">
                    <p>
                        To get our service, go to our website, register by providing some basic information and we will
                        deliver
                        you soon!
                    </p>
                </div>


            </div>


            <div class="explore-img">
                <div class="img-cont">
                    <img class="img-res" src="{% static '/assets/faq.png' %}" alt="Hero">
                </div>
            </div>
        </div>


    </section>


    <!-- contact section -->
    <section id="contact" class="container">

        <div class="heading">
            <h2>Contact Us</h2>
            <p>Any query or feedback? Just send us a message!</p>
        </div>

        <form class="form-cont">

            <div class="info-inputs flex-center">
                <input type="text" placeholder="Your Name">
                <input type="email" placeholder="Your Email Address">
            </div>

            <div class="message">
                <textarea placeholder="Your Message" name="message" id="message"></textarea>
            </div>
            <input type="submit" class="btn submit-btn" value="Submit">
        </form>
    </section>


    <!-- footer secton  -->
    <footer id="footer">
        <section class="container footer-main">
            <div class="footer-content">
                <div class="left">
                    <div class="img-cont">
                        <img class="img-res" src="{% static '/assets/footer.png' %}" alt="Footer logo">
                    </div>
                    <p>Urgent Fuel is the first fuel delivery service brand in Bangladesh to be enabled by the Internet
                        of
                        Things. We aspire to create a fuel delivery logistics system that is simple, efficient, and
                        supported by
                        cutting-edge technology.</p>
                </div>

                <div class="right">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#whyus">Why Us?</a></li>
                        <li><a href="#customer">Who We Serve?</a></li>
                        <li><a href="#product">Products</a></li>
                        <li><a href="#team">Team</a></li>
                        <li><a href="#blog">Blog</a></li>
                        <li><a href="#faq">Terms & Condition</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>

                    <div class="contact">
                        <a href="tel:+88-01842131260" class="item">
                            <div class="img-cont">
                                <i class="fa-solid fa-phone "></i>
                            </div>
                            <span>+88-01842131260</span>
                        </a>

                        <a href="mailto:urgent.fuel@gmail.com" class="item">
                            <div class="img-cont">
                                <i class="fa-solid fa-envelope "></i>
                            </div>
                            <span>urgent.fuel@gmail.com</span>
                        </a>

                        <a href="#" class="item">
                            <div class="img-cont">
                                <i class="fa-solid fa-location-dot "></i>
                            </div>
                            <span>Ventura Iconia, Level 3, House 37,
                  Road 11, Block H, Banani, Dhaka-1213</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="bottom">
                <p>
                    © Copyright 2022 <span class="text-orange">Urgent Fuel Technologies (BD) Limited.</span> All rights
                    Reserved
                </p>

                <div class="main-socials">
                    <a href="#" class="img-cont"><img class="img-res" src="{% static '/assets/in.svg' %}"
                                                      alt="Linkedin"></a>
                    <a href="#" class="img-cont"><img class="img-res" src="{% static '/assets/fb.svg' %}"
                                                      alt="Facebook"></a>
                    <a href="#" class="img-cont"><img class="img-res" src="{% static '/assets/cb.svg' %}" alt="Cb"></a>
                    <a href="#" class="img-cont"><img class="img-res" src="{% static '/assets/insta.svg' %}"
                                                      alt="Instagram"></a>
                    <a href="#" class="img-cont"><img class="img-res" src="{% static '/assets/twitter.svg' %}"
                                                      alt="Twitter"></a>
                </div>

                <button class="btn">
                    Join us as a vendor
                </button>
            </div>
        </section>
    </footer>


</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script>
    const sections = document.querySelectorAll('.section');
    const navItems = document.querySelectorAll('.nav_item')
    const hamburger = document.querySelector('#hamburger')
    const navLists = document.querySelector('.nav-lists')
    hamburger.addEventListener('click', () => {
        navLists.classList.toggle('show-navList')
    })

    window.addEventListener('scroll', () => {
        if (navLists.classList.contains('show-navList')) {
            navLists.classList.remove('show-navList')
        }

        let current = "";
        sections.forEach((section) => {
            const sectionTop = section.offsetTop;
            const sectionHeight = section.clientHeight;
            // console.log(pageYOffset, sectionTop - sectionHeight / 3)
            if (pageYOffset >= sectionTop - sectionHeight / 3) {
                current = section.getAttribute("id");
            }
        });
        // console.log(current)

        navItems.forEach((li) => {
            li.classList.remove("active-nav");
            if (li.classList.contains(current)) {
                li.classList.add("active-nav");
            }
        });
    })

    // navItems.forEach((link) => {
    //   link.addEventListener('click', function () {
    //     var current = document.getElementsByClassName("active-nav");

    //     // If there's no active class
    //     if (current.length > 0) {
    //       current[0].className = current[0].className.replace(" active-nav", "");
    //     }

    //     // Add the active class to the current/clicked button
    //     this.className += " active-nav";

    //   })
    // })


    const accordionBtns = document.querySelectorAll(".accordion");
    // console.log(accordionBtns)

    accordionBtns.forEach((accordion) => {
        accordion.onclick = function () {
            this.classList.toggle("is-open");

            let content = this.nextElementSibling;
            // console.log(content);

            if (content.style.maxHeight) {
                //this is if the accordion is open
                content.style.maxHeight = null;
            } else {
                //if the accordion is currently closed
                content.style.maxHeight = content.scrollHeight + "px";
                console.log(content.style.maxHeight);
            }
        };
    });


    const submitBtn = document.querySelector('.submit-btn')
    submitBtn.addEventListener('click', (e) => {
        e.preventDefault();
    })

    // jquery
    $('#owl-carousel-blog').owlCarousel({
        loop: false,
        margin: 30,
        responsiveClass: true,
        nav: false,
        // stagePadding: 50,
        responsive: {
            0: {
                items: 1,
            },
            700: {
                items: 2
            },
            1000: {
                items: 3,
                loop: false
            }
        }
    })


    $('#owl-carousel-testimonial').owlCarousel({
        loop: true,
        margin: 30,
        responsiveClass: true,
        nav: false,
        autoplay: true,
        autoplayTimeout: 5000,
        // stagePadding: 50,
        responsive: {
            0: {
                items: 1,
            },
            700: {
                items: 2
            },
            1000: {
                items: 2,
                // loop: false
            }
        }
    })
</script>
</body>

</html>