{% load static %}
<!doctype html>
<html lang="en">

<head>
    <title>{% block title_block %}Profile Setup {% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/button2.css' %}">
    <link rel="stylesheet" href="{% static 'css/image.css' %}">
    <link rel="stylesheet" href="{% static 'css/input.css' %}">
    <link rel="stylesheet" href="{% static 'css/select.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom-sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/setup_profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/editprofile.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom-sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/orderfuelsidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/orderfuel.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/chartjs.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/orderfuel.css' %}">
    <link rel="stylesheet" href="{% static 'css/calender.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">

</head>

<body>


{% block profile_block %}

{% endblock %}



<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.0/dist/chart.min.js"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/image.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/sidebar.js' %}"></script>
<script src="{% static 'js/chart.js' %}"></script>
<script src="{% static 'draft.js' %}"></script>
<script src="{% static 'js/price.js' %}"></script>
<script src="{% static 'cal/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'cal/bootstrap.min.js' %}"></script>
<script src="{% static 'cal/jquery.min.js' %}"></script>
<script src="{% static 'cal/main.js' %}"></script>
<script src="{% static 'cal/moment-with-locales.min.js' %}"></script>
<script src="{% static 'cal/popper.js' %}"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


</body>

</html>