<!doctype html>
<html lang="en">

<head>
    <title>Reporting</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- ===== BOX ICONS ===== -->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/button2.css">
    <link rel="stylesheet" href="css/image.css">
    <link rel="stylesheet" href="css/input.css">
    <link rel="stylesheet" href="css/select.css">
    <link rel="stylesheet" href="css/custom-sidebar.css">
    <link rel="stylesheet" href="css/setupprofile.css">
    <link rel="stylesheet" href="draft.css">
    <link rel="stylesheet" href="css/reporting.css">
</head>

<body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="p-2 pt-1">

                <a href="#" class="nav__logo">
                    <div class="logoside">
                        <img class="logoimage" src="assets/img/logo.svg" alt="My Happy SVG" />
                        <div class="tex">
                            <p class="text1">URGENT</p>
                            <p class="text2">FUEL</p>
                        </div>
                    </div>

                </a>

                <a href="#" class="img logo rounded-circle mb-2" style="background-image: url(assets/img/saul.png);"> </a>
                <h3 class="text-center mb-4 username">Saul Ramirez</h3>




                <ul class="list-unstyled components mb-2 p-2">

                    <li>
                        <a href="#"><i class='bx bxs-dashboard setup'></i>Dashboard</a>
                    </li>

                    <li>
                        <a href="#"><i class='bx bx-list-check setup'></i>Place an Order</a>
                    </li>

                    <li class="active">
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <i class='bx bx-info-circle setup'></i>Assets</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li>
                                <a href="#"><i class='bx bx-radio-circle-marked setup'></i>All Assets</a>
                            </li>
                            <li>
                                <a href="#"><i class='bx bx-radio-circle-marked setup'></i>Add an Asset</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class='bx bx-clipboard setup'></i>Reporting</a>
                    </li>

                    <li>
                        <a href="#">
                            <ion-icon class="setup" name="settings-outline"></ion-icon>Edit Profile</a>
                    </li>


                    <div class="logout">
                        <button class="livechat" type="submit" id="sendMessageButton">Live Chat</button>
                        <div class="logoutline"></div>
                        <li>
                            <a href="#">
                                <ion-icon class="setup" name="log-out-outline"></ion-icon>
                                </ion-icon>Log Out</a>
                        </li>
                    </div>
                </ul>

                <div class="footer">
                    <p>


                    </p>
                </div>

            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-4">

            <nav class="">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                     </button>



                    <div class="float-right">
                        <div class=" menu ">
                            <div class="header__img ">
                                <img class="navimage" src="assets/img/saul.png " alt=" ">

                            </div>

                            <ion-icon class="arrowleft" name="arrow-back-outline"></ion-icon>
                            <p class="back">Back to Home</p>
                        </div>
                    </div>

                </div>
            </nav>


            <div class="container-fluid reporting p-4 ">
                <div class="row">
                    <div class="col-2">
                        <select name="fuel-type" class="selectanasset">
                            <option selected disabled value="select">Search by Asset</option>
                            <option value="Diesel">Diesel</option>
                            <option value="Gasoline">Octane</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <input type="date" id="birthday" class="datarange" placeholder="Date Range" onchange="this.className=(this.value!=''?'has-value':'')">
                    </div>
                    <div class="col-2">
                        <select name="fuel-type" class="status">
                            <option selected disabled value="select">Status</option>
                            <option value="Diesel">Diesel</option>
                            <option value="Gasoline">Octane</option>
                        </select>
                    </div>
                    <div class="col-2">

                    </div>
                    <div class="col-2">
                        <a href="#" class="myButton">Export PDF</a>
                    </div>
                    <div class="col-2">
                        <a href="#" class="myButton">Export xls</a>
                    </div>
                </div>

                <div class="row secondrow">
                    <div class="col-2">
                        <p>Order ID</p>
                    </div>
                    <div class="col-4">
                        <p>Assets</p>
                    </div>
                    <div class="col-2">
                        <p class="dandt"> Data & Time
                        </p>
                    </div>
                    <div class="col-1  ">
                        <p class="amounttile">Amount</p>
                    </div>
                    <div class="col-1 costtitle">
                        <p>Cost</p>
                    </div>
                    <div class="col-2">
                        <p>Status</p>
                    </div>
                </div>

                <div class="row">
                    <div class="devicer"></div>
                </div>

                <div class="row results">
                    <div class="col-2">
                        <p class="orderid">#UF080001</p>
                    </div>
                    <div class="col-4">
                        <div class="profile">
                            <img class="circleimage" src="assets/img/e1.png" alt="">
                            <div class="profileinfo">
                                <p class="data">My Generator 2</p>
                                <p class="time">160, Senanibasroad, Sec-12 Mirpur</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <p class="data">31/07</p>
                        <p class="time">06:00 PM</p>
                    </div>
                    <div class="col-1">
                        <p class="amount">50L</p>
                    </div>
                    <div class="col-1">
                        <p class="cost">4850</p>
                    </div>
                    <div class="col-2 btnmargin">
                        <a href="#" class="ontheway ">On the way</a>
                    </div>
                </div>

                <div class="row">
                    <div class="devicer"></div>
                </div>

                <div class="row results">
                    <div class="col-2">
                        <p class="orderid">#UF080001</p>
                    </div>
                    <div class="col-4">
                        <div class="profile">
                            <img class="circleimage" src="assets/img/e2.png" alt="">
                            <div class="profileinfo">
                                <p class="data">My Generator 3</p>
                                <p class="time">road #6, dhanmondi r/a, dhanmondi, 12020</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <p class="data">31/07</p>
                        <p class="time">06:00 PM</p>
                    </div>
                    <div class="col-1">
                        <p class="amount">80L</p>
                    </div>
                    <div class="col-1">
                        <p class="cost">8740</p>
                    </div>
                    <div class="col-2 btnmargin">
                        <a href="#" class="processing">Processing</a>
                    </div>
                </div>

                <div class="row">
                    <div class="devicer"></div>
                </div>

                <div class="row results">
                    <div class="col-2">
                        <p class="orderid">#UF080001</p>
                    </div>
                    <div class="col-4">
                        <div class="profile">
                            <img class="circleimage" src="assets/img/e1.png" alt="">
                            <div class="profileinfo">
                                <p class="data">SB Hospital Generator</p>
                                <p class="time">412/b, Elephant Road ( 2nd Flour), Dhaka</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <p class="data">31/07</p>
                        <p class="time">06:00 PM</p>
                    </div>
                    <div class="col-1">
                        <p class="amount">30L</p>
                    </div>
                    <div class="col-1">
                        <p class="cost">3350</p>
                    </div>
                    <div class="col-2 btnmargin">
                        <a href="#" class="cancelled">Cancelled</a>
                    </div>
                </div>


                <div class="row">
                    <div class="devicer"></div>
                </div>

                <div class="row results">
                    <div class="col-2">
                        <p class="orderid">#UF080001</p>
                    </div>
                    <div class="col-4">
                        <div class="profile">
                            <img class="circleimage" src="assets/img/e3.png" alt="">
                            <div class="profileinfo">
                                <p class="data">AB Construction Site Trucks</p>
                                <p class="time">412/b, Elephant Road ( 2nd Flour), Dhaka</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <p class="data">31/07</p>
                        <p class="time">06:00 PM</p>
                    </div>
                    <div class="col-1">
                        <p class="amount">50L</p>
                    </div>
                    <div class="col-1">
                        <p class="cost">9850</p>
                    </div>
                    <div class="col-2 btnmargin">
                        <a href="#" class="delivered">Delivered</a>
                    </div>
                </div>


            </div>



        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="assets/js/image.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/sidebar.js"></script>
    <script src="draft.js"></script>
</body>

</html>